<!-- app/views/pins/index.html.erb -->
<h1><%= params[:pin_type] == 'go_schedule' ? '行きたいカフェ一覧' : '行ったカフェ一覧' %></h1>
<% @cafedates.each do |cafedate| %>
  <!-- カフェの表示内容 -->
  <%= cafedate.name %>
<% end %>