<div class="aboutpage">
  <%= stylesheet_link_tag 'aboutpage', media: 'all' %>
  <div class="about-content">
    <p style="font-size: 18px;"><strong>cafetrace</strong>へ、ようこそ！</p>
    <p>このサイトでは、マップを利用して自分だけのカフェマップを作成出来ます。</p>
    <P>行ったことのあるカフェと、行きたいカフェに分けて、まとめることで</P>
    <P>より、カフェ巡りを楽しむことが、できます！</P>
    <p>ブログでは、気に入ったカフェの画像を投稿・閲覧して</p>
    <P>みんなとカフェ情報を共有しちゃおう♪</P>
    <br>
      <%= link_to :back do %>
        <button>戻る</button>
      <% end %>
  </div>
</div>
