<div class="aboutpage">
  <%= stylesheet_link_tag 'aboutpage', media: 'all' %>
  <div class="about-content">
    <p style="font-size: 18px;"><strong>cafetrace</strong>へ、ようこそ！</p>
    <p>このサイトでは、マップを利用して自分だけのカフェマップを作成出来ます。</p>
    <p>行ったことのあるカフェと、行きたいカフェに分けて、まとめることで</p>
    <p>より、カフェ巡りを楽しむことが、できます！</p>
    <p>ブログでは、気に入ったカフェの画像を投稿・閲覧して</p>
    <p>みんなとカフェ情報を共有しちゃおう♪</p>
    <br>
    <%= link_to "戻る", :back %>
  </div>
</div>
