<div class="text-center">
  <h1>My Blogs</h1>
    <% @my_blogs.each do |blog| %>
      <li><%= link_to blog.name, blog_path(blog) %></li>
      <p>いいね件数 <%= blog.favorites.count %> </p>
    <% end %>
</div>
